<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>회원 가입</title>
		<link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

		<script>

			var sendMail=0
			var chkid = 0


			// 아이디 입력창에 값 입력시 아이디 중복체크 재검사 요구'
			function detectChgId(){
                chkid = 1;
			}

			// 아이디 중복 체크
			function chkidover(){
                var getID = document.getElementById('inputid').value;
				var link = '/users/Join/chkidover/' + getID
				location.href=link;
				alert("사용가능한 아이디입니다");
                document.getElementById('inputid').value = getID;
                chkid = 1; // 함수 종료 후 강제 새로고침 발생으로 인한 정상 기능 불가
				return false;
			}

			// 비밀번호 정규식 체크
            function chkreg(val){
				var rgx = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&_])[A-Za-z\d@$!%*#?&_]{8,12}$/;
				if(!rgx.test(val.value)){
                    document.getElementById('pw_notice').innerHTML="8~12자에 특수문자, 문자, 숫자가 포함되어야합니다";
                    document.getElementById('pw_notice').style.color="red";
                    return false;
                }
                else{
                    document.getElementById('pw_notice').innerHTML="조건에 만족하는 패스워드입니다";
                    document.getElementById('pw_notice').style.color="green";
					return false;
                }
            }

			// 비밀번호 재입력 체크
            function chkpwd(){
                pw = join_form.pw.value;
                chk = join_form.pwchk.value;
                if(pw !== chk){
                    document.getElementById('chkpw_notice').innerHTML="비밀번호가 일치하지 않습니다";
                    document.getElementById('chkpw_notice').style.color="red";
                    return false;
				}
                else{
					document.getElementById('chkpw_notice').innerHTML="비밀번호가 일치합니다";
                    document.getElementById('chkpw_notice').style.color="blue";
                    return false;
				}
			}

			// 이메일 인증메일 발송
			function goCheck() {
				if (join_form.email.value === "") {
					alert("이메일을 입력하세요");
					join_form.email.focus();
					return false;
				}
				var link = '/chk_mail/' + document.getElementById('inputemail').value;
				//alert(link); // 인증메일 컨트롤러 진입 경로
				if(sendMail===0){
					const btn = document.getElementById('chkemailbtn');
					btn.disabled = true;
					location.href = link;
					alert("인증메일이 발송되었습니다. 전송완료까지는 다소 시간이 걸립니다");

				}else{
					alert("이메일 인증을 완료해주세요");
					return false;
				}
			}

			// 가입버튼
			function Join() {
				if (join_form.id.value === "") {
					alert("아이디를 입력하세요");
					join_form.inputid.focus();
					return false;
				}else if(chkid===0) {
                    alert("아이디 중복체크를 해주세요");
                    return false;
                }else if (join_form.pw.value === "") {
					alert("비밀번호를 입력하세요");
					join_form.pw.focus();
					return false;
				} else if (join_form.pw.value.length < 6 || join_form.pw.value.length > 12) {
					alert("비밀번호는 8~12자리만 가능합니다");
					join_form.pw.focus();
					return false;
				} else if (join_form.pwchk.value === "") {
					alert("비밀번호 재확인을 해주세요");
					join_form.pwchk.focus();
					return false;
				} else if (join_form.nick.value === "") {
					alert("닉네임을 입력하세요");
					join_form.nick.focus();
					return false;
				} else if (join_form.name.value === "") {
					alert("이름을 입력하세요");
					join_form.name.focus();
					return false;
				} else if (join_form.email.value === "") {
					alert("이메일을 입력하세요");
					join_form.email.focus();
					return false;
				} else if (join_form.pw.value !== join_form.pwchk.value) {
					alert("비밀번호를 다시 확인해주세요");
					join_form.pwchk.focus();
					return false;
				} else {
					join_form.submit(); // 이동
					return false;
				}
			}

      	</script>

		<style>
			html{
				background-color: #fcfcfc;
			}
            body{
                background-color: #fcfcfc;
                position:absolute;
                left:50%;
                margin-left:-225px;/*기준이 바디의 좌측이므로, 사이즈 지정 후 반을 마진으로 더해야함*/
            }

            #container input{
                height:50px;
            }

			#container h5{
                margin: 0 0 3px;
                font-weight:bold;
            }

            #container>div{ /*mail제외 직계 div만*/
                margin-bottom:20px;
                width:450px;
            }

            #input_nick{
				padding-top:20px;
			}

			#inputemail, #inputid{
                width:320px;
                float: left;
				margin-right:10px;
            }

			#chkemailbtn, #chkidbtn{
				height:50px;
				width:120px;
				font-weight:bold;
                font-size:13pt;
			}

			#joinbtn{
				width:450px;
				height:55px;
				font-size:15pt;
				font-weight:bold;
				margin-top:10px;
			}
		</style>
	</head>

	<body>
		<div id="header">
			네비바<br><br>
		</div>

		<form id="join_form" name="join_form" class="form-group" action="/users/Join" method="post">
			<div id="container">
				<div id="input_id">
					<h5>아이디</h5>
					<span>
						<input type="text" id="inputid" class="form-control" name="id" onkeyup="detectChgId()">
					</span>
					<a>
						<button type="button" class="btn btn-primary" id="chkidbtn" onclick="chkidover()">중복확인</button>
					</a>
				</div>
				<div id="input_pw">
					<h5>비밀번호</h5>
					<span>
						<input type="password" id="inputpw" class="form-control" name="pw" onkeyup="chkreg(this)">
					</span>
					<span id="pw_notice"></span>
				</div>
				<div id="input_pwchk">
					<h5>비밀번호 재입력</h5>
					<span>
						<input type="password" id="inputpwchk" class="form-control" name="pwchk" onkeyup="chkpwd()">
					</span>
					<span id="chkpw_notice"></span>
				</div>
				<div id="input_nick">
					<h5>닉네임</h5>
					<span>
						<input type="text" id="inputnick" class="form-control" name="nick">
					</span>
				</div>
				<div id="input_name">
					<h5>이름</h5>
					<span>
						<input type="text" id="inputname" class="form-control" name="name">
					</span>
				</div>
				<div id="input_mail">
					<h5>이메일</h5>
					<span>
						<input type="email" id="inputemail" class="form-control" name="email">
					</span>
					<a>
						<button type="button" class="btn btn-primary" id="chkemailbtn" onclick="goCheck()">이메일 인증</button>
					</a>
				</div>
				<div id="join_btn">
					<button type="button" class="btn btn-primary" id="joinbtn" onclick="Join()">회원가입</button>
				</div>

			</div><!--컨테이너-->
		</form>

		<script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.js"></script>
		<script type="text/javascript"></script>
		<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	</body>
</html>