<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8">
	<title>Join</title>
</head>
<body>
<div class="container">
	<form  class="freeBoard/write/Board_Test_Account" method="post">
		<div calss="form-group">
			<label for="fboard_title">제목</label>
			<input type="text" id="fboard_title" name="fboard_title"><br>
			<label for="fboard_content">내용</label>
			<input type="text" id="fboard_content" name="fboard_content"><br>
		</div>
		<button type="submit">Post</button>
	</form>
</div>
</body>
</html>

