<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR">
    <title>focus</title>
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){

            $("#idn").on("keyup",function(){
                alert("test");
                if(this.value.length == 4){
                    $("#pw").focus();
                }
            });
        });
    </script>
</head>
<body>
<table>
    ID : <input type="text" name="id" id="idn" size="4" placeholder="아이디" maxlength="4"><p/>
    PW : <input type="password" name="pw" id="pw" size="4" placeholder="비밀번호" maxlength="4">
</body>
</html>