<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head th:fragment="top-head">
		<!-- Bootstrap core CSS -->
		<link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="home.css" rel="stylesheet">

		<style th:fragment="header-style">
            #site-banner{
                padding-top:45px;
                padding-bottom:15px;
            }
			#header-logo:hover{cursor:pointer;}
			#nav-bar{border-bottom:1px solid #6c757d;}
		</style>

		<script th:fragment="nav-script">
            // 엔터키 이벤트
            function goLogin(){
                if (window.event.keyCode == 13){
                    chk_input_accout()
                }else {
                    return false;
                }
            }

            <!--로그인용 스크립트-->
            function chk_input_accout() {
                let id = document.getElementById('recipient-id').value;
                let pw = document.getElementById('recipient-passwd').value;
                if(!id){
                    alert('ID를 입력하세요!');
                    document.getElementById('recipient-id').focus();
                }else if(!pw){
                    alert('PW를 입력하세요!');
                    document.getElementById('recipient-passwd').focus();
                }else{
                    document.getElementById('login-form').submit();
                }
            }
		</script>
	</head>
	<body>
		<!-- 헤더 -->
		<header th:fragment="fragment-header" id="site-banner" class="blog-header">
			<div class="row flex-nowrap justify-content-between align-items-center">

				<div class="col text-center">
					<h4 id="header-logo" class="blog-header-logo text-dark" style="padding-left:22%; margin-bottom:20px;" onclick="location.href='/'">Project-Site</h4>
				</div>

				<div th:if="${session.loginID}" class="col-2 d-flex justify-content-end align-items-center">
					<div class="dropdown">
						<b class="text-decoration-none" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#6c757d;" th:text="${session.loginID}+'님'"/>
						<!-- DropDown Menu -->
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" th:href="'/user/'+${session.loginID}+'/MyPage/info'">마이페이지</a>
							<a th:if="${session.loginID}=='Admin'" class="dropdown-item" th:href="'/Site/Account/Admin/YC'">관리자 페이지</a>
							<a class="dropdown-item" href="/users/Logout">Logout</a>
						</div>
					</div>
				</div>

				<div th:unless="${session.loginID}" class="col-2 d-flex justify-content-end align-items-center">
					<a class="btn btn-sm btn-outline-secondary" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
					<!-- 로그인 모달 -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">

							<div class="modal-content">
								<div class="modal-header" style="border-bottom-color: white; padding-bottom:0;">
									<h5 class="modal-title" id="exampleModalLabel" style="margin-left:10%;font-size:2.1em;">Login</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body" style="margin:0 auto;width:80%;">
									<form id="login-form" action="/users/Login" method="post">
										<div class="form-group" style="display:flex; text-align:center; margin-top:10px; margin-bottom:8px;">
											<input type="text" class="form-control" id="recipient-id" name="id" onKeyUp="goLogin()" placeholder="아이디">
										</div>
										<div class="form-group" style="display:flex; text-align:center;">
											<input type="password" class="form-control" id="recipient-passwd" name="pw" onKeyUp="goLogin()" placeholder="비밀번호">
										</div>
										<div>
											<button type="button" class="btn btn-primary" style="width:100%; height:35pt;font-size:1.3em;vertical-align:center;" onclick="chk_input_accout();">Login</button>
										</div>
										<div style="margin-top:15px;margin-bottom:10px;text-align:center;">
											<div style="border-right:3px solid gray;text-align: center;display: inline-block;">
												<a href="/users/FindAccount" style="font-size:1em; color:black; text-decoration-line:none;padding-right:10px;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">계정 찾기</a>
											</div>
											<div style="text-align: center;display: inline-block;">
												<a href="/users/Join" style="font-size:1em; color:black;text-decoration-line:none;padding-left:5px;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">회원 가입</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- 네비 메뉴 -->
		<div th:fragment="fragment-nav" id="nav-bar" class="nav-scroller py-1"> <!--mb-2 제거-->
			<nav id="main-nav" class="nav d-flex justify-content-between">
				<a class="p-2 text-muted" href="/freeBoard/view/main">공지사항</a>
				<a class="p-2 text-muted" href="/freeBoard/view/main">자유 게시판</a>
				<a class="p-2 text-muted" href="#">자료실</a>
				<a class="p-2 text-muted" href="#">뉴스</a>
				<a class="p-2 text-muted" href="#">예비</a>
				<a class="p-2 text-muted" href="#">예비</a>
			</nav>
		</div>

		<!-- 푸터 -->
		<footer th:fragment="fragment-footer" class="blog-footer" style="text-align: center;">
			<p>Project Upload At <a href="https://github.com/YeChanKim98/">GitHub</a> by <u>김예찬</u>(KimYeChan).</p>
			<p><a href="#">Back to top</a></p>
			<script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.js" style="user-select: auto;"></script>
			<script type="text/javascript" style="user-select: auto;"></script>
			<!-- Bootstrap core JavaScript-->
			<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
			<script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
		</footer>
	</body>
</html>