<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head th:replace="fragments/nav.html :: top-head"/>
	<head>
		<meta charset="UTF-8">
		<title>마이 페이지</title>

		<script>

		</script>

		<style>

		</style>
	</head>
	<body>
		<div class="container">
			<header th:replace="fragments/nav.html :: fragment-header"/>
			<div th:replace="fragments/nav.html::fragment-nav"/>

			<div class="row mb-2" style="margin: 0px;">

				<!-- 메뉴 -->
				<div class="container-fluid">
					<div class="row">
						<!-- 사이드바 -->
						<nav th:replace="fragments/MyPageNav.html :: fragment-mypage-nav"/>

						<!-- 내용 -->
						<main role="main" class="col-12 col-md-9 col-lg-10 px-4">
							<div style="margin-top:30px;text-align: center;">
							<form th:action="'/user/'+${session.loginID}+'/MyPage/withdrawal'" method="post">
								<h4>비밀번호를 입력해주세요</h4>
								<input type="password" name="pw" style="width:20%;margin-top:15px;">
								<input type="submit" value="탈퇴">
							</form>
							</div>
						</main>

					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/nav.html :: fragment-footer"/>
	</body>
</html>