<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head th:replace="fragments/nav.html :: top-head"/>
	<head>
		<meta charset="UTF-8">
		<title>마이 페이지</title>

		<script>

		</script>

		<style>

		</style>
	</head>
	<body>
		<div class="container">
			<header th:replace="fragments/nav.html :: fragment-header"/>
			<div th:replace="fragments/nav.html::fragment-nav"/>

			<div class="row mb-2" style="margin: 0px;">

				<!-- 메뉴 -->
				<div class="container-fluid">
					<div class="row">
						<!-- 사이드바 -->
						<nav th:replace="fragments/MyPageNav.html :: fragment-mypage-nav"/>

						<!-- 내용 -->
						<main role="main" class="col-12 col-md-9 col-lg-10 px-4">
							<div class="row mb-2" style="margin-top:20px;">
								<!-- 게시글 목록 -->
								<div class="col-md-6">
									<span><h5>게시글</h5></span>
<!--									<span style="float:right;"><a class="text-decoration-none" href="freeBoard/view/main" style=" color:#6c757d;">more</a></span>-->
									<div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative" style="border-top: 1px solid #dee2e6;margin-bottom:5px;">

										<table class="table table-hover">
											<thead>
											<tr>
												<th scope="col">게시판</th>
												<th scope="col">제목</th>
												<th scope="col">조회/댓글</th>
												<th scope="col">작성일</th>
											</tr>
											</thead>
											<tbody class="table_body">
											<!-- 자유 게시판 글 -->
											<tr th:if="${freeBoard}" th:each="board : ${freeBoard}">
												<td>자유</td>
												<td><a id="post_link" th:text="${board.fboard_title}" th:href="'/freeBoard/view/'+${board.fboard_num}"></a></td>
												<td th:text="${board.fboard_view_count}+'/'+${board.fboard_comment_count}"></td>
												<td th:text="${board.fboard_reg_date}"></td>
											</tr>
											</tbody>
										</table>

									</div>
								</div>

								<!-- 댓글목록 -->
								<div class="col-md-6">
									<span><h5>댓글</h5></span>
<!--									<span style="float:right;"><a class="text-decoration-none" href="freeBoard/view/main" style="color:#6c757d;">more</a></span>-->
									<div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative" style="border-top: 1px solid #dee2e6;margin-bottom:5px;">

										<table class="table table-hover">
											<thead>
											<tr>
												<th scope="col">게시판</th>
												<th scope="col">게시글</th>
												<th scope="col">내용</th>
												<th scope="col">작성일</th>
											</tr>
											</thead>
											<tbody class="table_body">
											<!-- 자유 게시판 댓글 -->
											<tr th:if="${freeComment}" th:each=" comment : ${freeComment}">
												<td>자유</td>
												<td th:text="${comment.target_board}"></td>
												<td><a id="comment_link" th:text="${comment.fcomment_content}" th:href="'/freeBoard/view/'+${comment.target_board}"></a></td>
												<td th:text="${comment.fcomment_reg_date}"></td>
<!--												<td class="board_date" th:text="${#temporals.createDate(comment.fcomment_reg_date,'yyyy-MM-dd')}"></td>-->
											</tr>
											</tbody>
										</table>
									</div><!--댓글-->
								</div>
							</div>
						</main>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/nav.html :: fragment-footer"/>
	</body>
</html>