<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPageMain</title>
    <link rel="stylesheet" href="MyPageStyle.css">
</head>
<body>
<div class="wrap">
    <div class="greenContainer">
        <div>
            <div class="name">Kimes112</div>
        </div>
        <div class="modify">i</div>
    </div>
    <div class="summaryContainer">
        <div class="item">
            <div class="number">7/15</div>
            <div>날짜</div>
        </div>
        <div class="item">
            <div class="number">2500</div>
            <div>포인트</div>
        </div>
        <div class="item">
            <div class="number">24</div>
            <div>출석일수</div>
        </div>
    </div>
    <div class="shippingStatusContainer">
        <div class="title">
            Mypage
        </div>
        <div class="status">

            <div class="item">
                <div>
                    <div class="green number">6</div>
                    <div class="text">내가 쓴 글</div>
                </div>
                <div class="icon"> > </div>
            </div>
            <div class="item">
                <div>
                    <div class="number">0</div>
                    <div class="text">내가 본 게시글</div>
                </div>
                <div class="icon"> > </div>
            </div>
            <div class="item">
                <div>
                    <div class="green number">1</div>
                    <div class="text">삭제한 게시글</div>
                </div>
                <div class="icon"> > </div>
            </div>
            <div class="item">
                <div>
                    <div class="green number">3</div>
                    <div class="text">출석부</div>
                </div>
            </div>

        </div>

    </div>
    <div class="listContainer">
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">내 정보<span class="circle"></span></div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">이메일</div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">핸드폰</div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">자주묻는 질문</div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">이벤트</div>
            <div class="right"> > </div>
        </a>
        <iframe width="600" height="300"
    </div>
    <div class="listContainer">
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">
                <span>포인트</span>
                <span class="smallLight">
            <span>|</span>
            <span>포인트 내역</span>
          </span>
            </div>
            <div class="right">
                <span class="blct">2500</span>
                > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">알림</div>
            <div class="right"> > </div>
        </a>
        <a href="#" class="item">
            <div class="icon">ii</div>
            <div class="text">설정</div>
            <div class="right"> > </div>
        </a>
    </div>
    <div class="infoContainer">
        <a href="#" class="item">
            <div>icon</div>
            <div>공지사항</div>
        </a>
        <a href="#" class="item">
            <div>icos</div>
            <div>이용안내</div>
        </a>
        <a href="#" class="item">
            <div>icon</div>
            <div>고객센터</div>
        </a>
    </div>
</div>

</body>
</html>