<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head th:replace="fragments/nav.html :: top-head"/>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Project</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      ul {
        list-style: none;
        padding-left: 5px;
      }

      #main-nav a:hover{
        text-decoration-line: none;
        font-weight: bold;
      }

      .preview_board{
        font-weight:bold;
        font-size:16px;
      }

      .post_preview:link, .post_preview:visited{
        color: black;
        text-decoration:none;
      }
      .post_preview:hover{
        color: black;
        text-decoration: underline;
      }
    </style>
  </head>


  <body>
    <div class="container">
      <header th:replace="fragments/nav.html :: fragment-header"/>
      <div th:replace="fragments/nav.html::fragment-nav"/>

      <!-- 메인 소개 점보트론 -->
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="margin-top:15px; padding-bottom:28px;">
        <div class="col-md-6 px-0">
          <h1 class="display-5 font-italic" style="width:600px;">스프링 토이 프로젝트</h1><br>
          <p class="lead my-3" style="width:600px;">스프링부트 / 그레이들 / 타임리프 / JPA</p>
          <p class="lead my-3" style="width:600px;">JAVA / HTML / CSS / JS / AJAX / JPQL</p>
          <!-- 링크용: <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
        </div>
      </div>

      <!-- 게시판 미리보기 -->
      <div class="row mb-2">
        <!-- 게시판 종류 1 -->
        <div class="col-md-6">
          <span class="preview_board">공지사항</span>
          <span style="float:right;"><a class="text-decoration-none" href="freeBoard/view/main" style=" color:#6c757d;">more</a></span>
          <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative" style="border-top: 1px solid #dee2e6;margin-bottom:5px;">
            <ul>
              <li th:each="board:${noticeBoardList}">
                <a class="post_preview" th:text="${board.notice_title}" th:href="'/notice/view/'+${board.notice_num}" />
              </li>
            </ul>
          </div>
        </div>

        <!-- 게시판 종류 2 -->
        <div class="col-md-6">
          <span class="preview_board">자유게시판</span>
          <span style="float:right;"><a class="text-decoration-none" href="freeBoard/view/main" style="color:#6c757d;">more</a></span>
          <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative" style="border-top: 1px solid #dee2e6;margin-bottom:5px;">
            <ul>
              <li th:each="board:${freeBoardList}">
                <a class="post_preview" th:text="${board.fboard_title}" th:href="'/freeBoard/view/'+${board.fboard_num}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr style="background-color:#6c757d;">
    </div>

<!-- 게시판 노출 원본 -->
<!--    <div class="col-md-6">-->
<!--      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-primary">World</strong>-->
<!--          <h3 class="mb-0">Featured post</h3>-->
<!--          <div class="mb-1 text-muted">Nov 12</div>-->
<!--          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
<!--          <a href="#" class="stretched-link">Continue reading</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




<!--블로그 샘플 메인-->
<!--<main role="main" class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-8 blog-main">-->
<!--      <h3 class="pb-4 mb-4 font-italic border-bottom">-->
<!--        From the Firehose-->
<!--      </h3>-->

<!--      <div class="blog-post">-->
<!--        <h2 class="blog-post-title">Sample blog post</h2>-->
<!--        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->

<!--        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>-->
<!--        <hr>-->
<!--        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>-->
<!--        <blockquote>-->
<!--          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
<!--        </blockquote>-->
<!--        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>-->
<!--        <h2>Heading</h2>-->
<!--        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
<!--        <h3>Sub-heading</h3>-->
<!--        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--        <pre><code>Example code block</code></pre>-->
<!--        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>-->
<!--        <h3>Sub-heading</h3>-->
<!--        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--        <ul>-->
<!--          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>-->
<!--          <li>Donec id elit non mi porta gravida at eget metus.</li>-->
<!--          <li>Nulla vitae elit libero, a pharetra augue.</li>-->
<!--        </ul>-->
<!--        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>-->
<!--        <ol>-->
<!--          <li>Vestibulum id ligula porta felis euismod semper.</li>-->
<!--          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>-->
<!--          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>-->
<!--        </ol>-->
<!--        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>-->
<!--      </div>&lt;!&ndash; /.blog-post &ndash;&gt;-->

<!--      <div class="blog-post">-->
<!--        <h2 class="blog-post-title">Another blog post</h2>-->
<!--        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>-->

<!--        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>-->
<!--        <blockquote>-->
<!--          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
<!--        </blockquote>-->
<!--        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>-->
<!--        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
<!--      </div>&lt;!&ndash; /.blog-post &ndash;&gt;-->

<!--      <div class="blog-post">-->
<!--        <h2 class="blog-post-title">New feature</h2>-->
<!--        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>-->

<!--        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--        <ul>-->
<!--          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>-->
<!--          <li>Donec id elit non mi porta gravida at eget metus.</li>-->
<!--          <li>Nulla vitae elit libero, a pharetra augue.</li>-->
<!--        </ul>-->
<!--        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>-->
<!--        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>-->
<!--      </div>&lt;!&ndash; /.blog-post &ndash;&gt;-->

<!--      <nav class="blog-pagination">-->
<!--        <a class="btn btn-outline-primary" href="#">Older</a>-->
<!--        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>-->
<!--      </nav>-->

<!--    </div>&lt;!&ndash; /.blog-main &ndash;&gt;-->

<!--    <aside class="col-md-4 blog-sidebar">-->
<!--      <div class="p-4 mb-3 bg-light rounded">-->
<!--        <h4 class="font-italic">About</h4>-->
<!--        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>-->
<!--      </div>-->

<!--      <div class="p-4">-->
<!--        <h4 class="font-italic">Archives</h4>-->
<!--        <ol class="list-unstyled mb-0">-->
<!--          <li><a href="#">March 2014</a></li>-->
<!--          <li><a href="#">February 2014</a></li>-->
<!--          <li><a href="#">January 2014</a></li>-->
<!--          <li><a href="#">December 2013</a></li>-->
<!--          <li><a href="#">November 2013</a></li>-->
<!--          <li><a href="#">October 2013</a></li>-->
<!--          <li><a href="#">September 2013</a></li>-->
<!--          <li><a href="#">August 2013</a></li>-->
<!--          <li><a href="#">July 2013</a></li>-->
<!--          <li><a href="#">June 2013</a></li>-->
<!--          <li><a href="#">May 2013</a></li>-->
<!--          <li><a href="#">April 2013</a></li>-->
<!--        </ol>-->
<!--      </div>-->

<!--      <div class="p-4">-->
<!--        <h4 class="font-italic">Elsewhere</h4>-->
<!--        <ol class="list-unstyled">-->
<!--          <li><a href="#">GitHub</a></li>-->
<!--          <li><a href="#">Twitter</a></li>-->
<!--          <li><a href="#">Facebook</a></li>-->
<!--        </ol>-->
<!--      </div>-->
<!--    </aside>&lt;!&ndash; /.blog-sidebar &ndash;&gt;-->
<!--  </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--</main>&lt;!&ndash; /.container &ndash;&gt;-->

    <footer th:replace="fragments/nav.html :: fragment-footer"/>

<!--    <script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.js" style="user-select: auto;"></script>-->
<!--    <script type="text/javascript" style="user-select: auto;"></script>-->
<!--    &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>-->

  </body>
</html>
