<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Team Board Project TmpHome</title>
	</head>
	<body>
		<div>
			<div>
				<h1>테스트용 임시 홈(/)</h1>
				<p>Member</p>
				<a th:if ="${session.loginID}"><p th:text="${session.loginID}"></p></a>
				<a href="/users/Join">가입</a>
				<a href="/users/SelOne">출력(단일)</a>
				<a href="/users/SelAll">출력(전체)</a>
				<a href="/users/Delete">삭제</a>
				<a href="/users/Update">정정</a>
				<a href="/users/Login">로그인</a>
			</div>

			<div>
				<hr color="black">
				<p>Free_Board</p>
				<a href="freeBoard/write/testAccount">작성</a>
				<a href="#">수정</a>
				<a href="#">삭제</a>
				<a href="freeBoard/view/main">젠체 목록</a>
			</div>
		</div>
	</body>
</html>